Repository allinbits/cosmos-cash: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 80...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 80%
        flags:
          - app
      modules:
        target: 80%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/" # ignore client package

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "types/*.pb.go"
  - "tests/*"
  - "tests/**/*"
  - "x/**/*.pb.go"
  - "scripts/"
  - "contrib"

feat(Doc): Documentation Strategy ADR (#129)
  docs/architecture/adr-002-docs-structure.md
Due: none

feat(did): adding commands for relationships and controllers
  scripts/seeds/01_identifier_seeds.sh
  x/did/client/cli/tx.go
  x/did/keeper/msg_server.go
  x/did/types/did.go
  x/did/types/keys.go
Due: modules

feat(ADR): apply technical writer proposed changes from draft PR (#129)
  docs/architecture/adr-002-docs-structure.md
Due: none

Chore(ADR): change status to PROPOSED (#129)
  docs/architecture/adr-002-docs-structure.md
Due: none

feat(ADR): Documentation Strategy (#129)
  docs/architecture/adr-002-docs-structure.md
Due: none

Feat(ADR): Apply documentation suggestions from review of proposed ADR
  docs/architecture/adr-002-docs-structure.md
Due: none

feat(ADR): Documentation Strategy (#129) (#152)
  docs/architecture/adr-002-docs-structure.md
Due: none

feat(did): add logging to the msg_server
  x/did/client/cli/tx.go
  x/did/keeper/msg_server.go
Due: modules

feat(docs): implement docs structure (#140)
  docs/Explanation/ADR/PROCESS.md
  docs/Explanation/ADR/README.md
  docs/Explanation/ADR/adr-002-docs-structure.md
  docs/Explanation/ADR/adr-template.md
  docs/Explanation/articles/README.md
  docs/Explanation/articles/eisvogel.latex
  docs/Explanation/articles/makefile
  docs/Explanation/articles/regulation-paper/.DS_Store
  docs/Explanation/articles/regulation-paper/backgrounds/BackgroundDraft.pdf
  docs/Explanation/articles/regulation-paper/backgrounds/BackgroundEisVogel.pdf
  docs/Explanation/articles/regulation-paper/backgrounds/BackgroundTendermint.pdf
  docs/Explanation/articles/regulation-paper/backgrounds/cosmos-cash-title-page-a4.pdf
  docs/Explanation/articles/regulation-paper/bibs/cosmoscash.bib
  docs/Explanation/articles/regulation-paper/imgs/.DS_Store
  docs/Explanation/articles/regulation-paper/imgs/CosmosCashRegs/AMLProfiler.png
  docs/Explanation/articles/regulation-paper/imgs/CosmosCashRegs/AML_RBA.png
  docs/Explanation/articles/regulation-paper/imgs/CosmosCashRegs/ComsosCashArchitecture.png
  docs/Explanation/articles/regulation-paper/imgs/CosmosCashRegs/EuOmnigram.png
  docs/Explanation/articles/regulation-paper/imgs/CosmosCashRegs/RegulatorTable.png
  docs/Explanation/articles/regulation-paper/imgs/CosmosCashRegs/RelevantRegulation.png
  docs/Explanation/articles/regulation-paper/imgs/CosmosCashRegs/SelfSovereignGardenWalls.png
  docs/Explanation/articles/regulation-paper/imgs/CosmosCashRegs/StablecoinRoleMap.png
  docs/Explanation/articles/regulation-paper/imgs/CosmosCashRegs/TokenTaxonomy.png
  docs/Explanation/articles/regulation-paper/imgs/core/tendermint-brandmark-circle-light.png
  docs/Explanation/articles/regulation-paper/imgs/core/tendermint-brandmark-dark.png
  docs/Explanation/articles/regulation-paper/imgs/core/tendermint-brandmark-square-core.png
  docs/Explanation/articles/regulation-paper/imgs/core/tendermint-brandmark-square-light.png
  docs/Explanation/articles/regulation-paper/imgs/core/tendermint-logo-horizontal-padded-circle-dark.png
  docs/Explanation/articles/regulation-paper/out/CosmosCashRegs.pdf
  docs/Explanation/articles/regulation-paper/out/CosmosCashRegsSquareLogo.pdf
  docs/Explanation/articles/regulation-paper/out/CosmosCashRegsb4.pdf
  docs/Explanation/articles/regulation-paper/rpts/CosmosCashRegs.md
  docs/How-To/README.md
  docs/README.md
  docs/Reference/GLOSSARY.md
  docs/Reference/MODULES.md
  docs/Reference/README.md
  docs/Reference/architecture/README.md
  docs/Tutorials/README.md
Due: none

feat(docs): implement CODEOWNERS file as per ADR (#142)
  CODEOWNERS
Due: none

feat(docs): Clarify team and ref github docs in CODEOWNERS (#142)
  CODEOWNERS
Due: none

feat(docs): add CODEOWNERS file (#158)
  CODEOWNERS
Due: none

feat(docs): implement docs structure (#140) (#157)
  docs/Explanation/ADR/PROCESS.md
  docs/Explanation/ADR/README.md
  docs/Explanation/ADR/adr-002-docs-structure.md
  docs/Explanation/ADR/adr-template.md
  docs/Explanation/articles/README.md
  docs/Explanation/articles/eisvogel.latex
  docs/Explanation/articles/makefile
  docs/Explanation/articles/regulation-paper/.DS_Store
  docs/Explanation/articles/regulation-paper/backgrounds/BackgroundDraft.pdf
  docs/Explanation/articles/regulation-paper/backgrounds/BackgroundEisVogel.pdf
  docs/Explanation/articles/regulation-paper/backgrounds/BackgroundTendermint.pdf
  docs/Explanation/articles/regulation-paper/backgrounds/cosmos-cash-title-page-a4.pdf
  docs/Explanation/articles/regulation-paper/bibs/cosmoscash.bib
  docs/Explanation/articles/regulation-paper/imgs/.DS_Store
  docs/Explanation/articles/regulation-paper/imgs/CosmosCashRegs/AMLProfiler.png
  docs/Explanation/articles/regulation-paper/imgs/CosmosCashRegs/AML_RBA.png
  docs/Explanation/articles/regulation-paper/imgs/CosmosCashRegs/ComsosCashArchitecture.png
  docs/Explanation/articles/regulation-paper/imgs/CosmosCashRegs/EuOmnigram.png
  docs/Explanation/articles/regulation-paper/imgs/CosmosCashRegs/RegulatorTable.png
  docs/Explanation/articles/regulation-paper/imgs/CosmosCashRegs/RelevantRegulation.png
  docs/Explanation/articles/regulation-paper/imgs/CosmosCashRegs/SelfSovereignGardenWalls.png
  docs/Explanation/articles/regulation-paper/imgs/CosmosCashRegs/StablecoinRoleMap.png
  docs/Explanation/articles/regulation-paper/imgs/CosmosCashRegs/TokenTaxonomy.png
  docs/Explanation/articles/regulation-paper/imgs/core/tendermint-brandmark-circle-light.png
  docs/Explanation/articles/regulation-paper/imgs/core/tendermint-brandmark-dark.png
  docs/Explanation/articles/regulation-paper/imgs/core/tendermint-brandmark-square-core.png
  docs/Explanation/articles/regulation-paper/imgs/core/tendermint-brandmark-square-light.png
  docs/Explanation/articles/regulation-paper/imgs/core/tendermint-logo-horizontal-padded-circle-dark.png
  docs/Explanation/articles/regulation-paper/out/CosmosCashRegs.pdf
  docs/Explanation/articles/regulation-paper/out/CosmosCashRegsSquareLogo.pdf
  docs/Explanation/articles/regulation-paper/out/CosmosCashRegsb4.pdf
  docs/Explanation/articles/regulation-paper/rpts/CosmosCashRegs.md
  docs/How-To/README.md
  docs/README.md
  docs/Reference/GLOSSARY.md
  docs/Reference/MODULES.md
  docs/Reference/README.md
  docs/Reference/architecture/README.md
  docs/Tutorials/README.md
Due: none

fix: add logger to test suite
  go.mod
  x/did/keeper/keeper_test.go
Due: modules

chore(docs): Add conventionalcommits checks (#144)
  .pre-commit-config.yaml
Due: none

chore(docs): Add conventionalcommits checks (#144) (#159)
  .pre-commit-config.yaml
Due: none

chore: comment formatting in cli transaction
  x/did/client/cli/tx.go
Due: modules

feat(swagger): add swagger docs and ui to repo
  app/app.go
  docs/Reference/swagger/config.json
  docs/Reference/swagger/statik/statik.go
  docs/Reference/swagger/swagger-ui/favicon-16x16.png
  docs/Reference/swagger/swagger-ui/favicon-32x32.png
  docs/Reference/swagger/swagger-ui/index.html
  docs/Reference/swagger/swagger-ui/oauth2-redirect.html
  docs/Reference/swagger/swagger-ui/swagger-ui-bundle.js
  docs/Reference/swagger/swagger-ui/swagger-ui-standalone-preset.js
  docs/Reference/swagger/swagger-ui/swagger-ui.css
  docs/Reference/swagger/swagger-ui/swagger.yaml
  docs/Reference/swagger/swagger_legacy.yaml
  go.mod
  go.sum
  proto/did/query.proto
  proto/did/tx.proto
  proto/issuer/tx.proto
  scripts/protoc-swagger-gen.sh
  x/did/types/query.pb.go
  x/did/types/tx.pb.go
  x/did/types/tx.pb.gw.go
  x/issuer/types/tx.pb.go
Due: app

chore: comment formatting in cli transaction (#161)
  x/did/client/cli/tx.go
Due: modules

feat: explicitly list the supported verification relationships
  proto/did/did.proto
  x/did/client/cli/tx.go
  x/did/keeper/handler_test.go
  x/did/keeper/msg_server.go
  x/did/types/did.go
  x/did/types/did.pb.go
  x/did/types/did_test.go
  x/did/types/msg_test.go
  x/issuer/ante/ante.go
  x/issuer/types/tx.pb.go
Due: modules

feat(did): explicitly list the supported verification relationships (#163)
  proto/did/did.proto
  x/did/client/cli/tx.go
  x/did/keeper/handler_test.go
  x/did/keeper/msg_server.go
  x/did/types/did.go
  x/did/types/did.pb.go
  x/did/types/did_test.go
  x/did/types/msg_test.go
  x/issuer/ante/ante.go
  x/issuer/types/tx.pb.go
Due: modules

feat(docs): Add explanation structure (#148)
  docs/Explanation/README.md
  docs/Explanation/presentations.md
Due: none

feat: add json_name option to did.context field
  proto/did/did.proto
  x/did/types/did.pb.go
Due: none

feat(docs): READMEs for Explanation and Reference documentation. (#148)
  docs/Explanation/README.md
  docs/Explanation/articles/README.md
  docs/README.md
  docs/Reference/README.md
Due: none

docs: update reference to the vc module
  docs/Reference/MODULES.md
Due: none

feat: Issuer ADR first draft
  docs/Explanation/ADR/adr-003-issuer.md
Due: none

docs: Add message formats to contributing.md
  .DS_Store
  CONTRIBUTING.md
  docs/.DS_Store
Due: none

implement helpers for sig/verify of verifiable credentials + bench
  helpers/signatures.go
  helpers/signatures_test.go
  x/issuer/ante/ante.go
  x/verifiable-credential/client/cli/tx.go
  x/verifiable-credential/types/verifiable-credential.go
Due: modules

add malicious bench case
  helpers/signatures_test.go
Due: none
