Repository allinbits/cosmos-cash: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

use EmptyProof helper when helpful
  helpers/signatures.go
  helpers/signatures_test.go
Due: none

feat(docs): apply proposals from technical editor review (#168)
  docs/Explanation/README.md
  docs/Explanation/articles/README.md
  docs/Explanation/presentations.md
  docs/README.md
  docs/Reference/README.md
Due: none

chore: delete .DS_Store
  docs/.DS_Store
Due: none

chore: delete .DS-Store
  .DS_Store
Due: none

docs: Apply suggestions from technical writer review (#176)
  CONTRIBUTING.md
Due: none

docs: address comments on contributing
  CONTRIBUTING.md
Due: none

docs: add technical setup
  TECHNICAL-SETUP.md
Due: none

feat(swagger): add swagger docs and ui to repo
  app/app.go
  docs/Reference/swagger/config.json
  docs/Reference/swagger/statik/statik.go
  docs/Reference/swagger/swagger-ui/favicon-16x16.png
  docs/Reference/swagger/swagger-ui/favicon-32x32.png
  docs/Reference/swagger/swagger-ui/index.html
  docs/Reference/swagger/swagger-ui/oauth2-redirect.html
  docs/Reference/swagger/swagger-ui/swagger-ui-bundle.js
  docs/Reference/swagger/swagger-ui/swagger-ui-standalone-preset.js
  docs/Reference/swagger/swagger-ui/swagger-ui.css
  docs/Reference/swagger/swagger-ui/swagger.yaml
  docs/Reference/swagger/swagger_legacy.yaml
  go.mod
  go.sum
  proto/did/query.proto
  proto/did/tx.proto
  proto/issuer/tx.proto
  scripts/protoc-swagger-gen.sh
  x/did/types/query.pb.go
  x/did/types/tx.pb.go
  x/did/types/tx.pb.gw.go
  x/issuer/types/tx.pb.go
Due: app

chore: update go version to 1.16
  go.mod
Due: none

docs: add swagger dependency
  TECHNICAL-SETUP.md
Due: none

docs: add swagger how to
  docs/How-To/general_001_swagger.md
Due: none

docs: Apply suggestions from code review
  docs/Reference/swagger/swagger-ui/oauth2-redirect.html
  proto/issuer/tx.proto
Due: none

chore: disable linting for deprecated legacyAmino codec
  app/app.go
  app/params/encoding.go
  app/types.go
  x/did/module.go
  x/did/types/codec.go
  x/issuer/keeper/query.go
  x/issuer/module.go
  x/issuer/types/codec.go
  x/verifiable-credential/module.go
  x/verifiable-credential/types/codec.go
Due: app, modules

feat: Second Draft of ADR for LicenseCredential
  docs/Explanation/ADR/adr-003-issuer.md
  docs/Explanation/ADR/adr-005-license-credential.md
Due: none

feat: More edits for VC ADR
  docs/Explanation/ADR/adr-005-license-credential.md
Due: none

docs: Changes based on Technical Writer Review
  docs/Explanation/README.md
  docs/README.md
  docs/Reference/README.md
Due: none

refactor: revert changes to dependency versions
  go.mod
  go.sum
Due: none

Apply suggestions from code review
  docs/Explanation/ADR/adr-003-issuer.md
  docs/Explanation/ADR/adr-005-license-credential.md
Due: none

feat: add architecture diagrams based on PlantUML
  docs/Explanation/ADR/adr-005-license-credential.md
  docs/Reference/architecture/CONTRIBUTING.md
  docs/Reference/architecture/README.md
  docs/Reference/architecture/makefile
  docs/Reference/architecture/out/LicenseCredential.svg
  docs/Reference/architecture/src/LicenseCredential.puml
  docs/Reference/architecture/themes/puml-theme-tendermint.puml
Due: none

fix: apply suggestions from code review
  docs/How-To/general_001_swagger.md
Due: none

feat(swagger): add swagger docs and ui to repo (#162)
  app/app.go
  app/params/encoding.go
  app/types.go
  docs/How-To/general_001_swagger.md
  docs/Reference/swagger/config.json
  docs/Reference/swagger/statik/statik.go
  docs/Reference/swagger/swagger-ui/favicon-16x16.png
  docs/Reference/swagger/swagger-ui/favicon-32x32.png
  docs/Reference/swagger/swagger-ui/index.html
  docs/Reference/swagger/swagger-ui/oauth2-redirect.html
  docs/Reference/swagger/swagger-ui/swagger-ui-bundle.js
  docs/Reference/swagger/swagger-ui/swagger-ui-standalone-preset.js
  docs/Reference/swagger/swagger-ui/swagger-ui.css
  docs/Reference/swagger/swagger-ui/swagger.yaml
  docs/Reference/swagger/swagger_legacy.yaml
  go.mod
  proto/did/query.proto
  proto/did/tx.proto
  proto/issuer/tx.proto
  scripts/protoc-swagger-gen.sh
  x/did/module.go
  x/did/types/codec.go
  x/did/types/query.pb.go
  x/did/types/tx.pb.go
  x/did/types/tx.pb.gw.go
  x/issuer/keeper/query.go
  x/issuer/module.go
  x/issuer/types/codec.go
  x/issuer/types/tx.pb.go
  x/verifiable-credential/module.go
  x/verifiable-credential/types/codec.go
Due: app, modules

feat: add support for DidMetadata (WIP)
  go.mod
  proto/did/did.proto
  x/did/client/cli/cli_test.go
  x/did/keeper/did.go
  x/did/keeper/keeper_test.go
  x/did/keeper/msg_server.go
  x/did/types/did.go
  x/did/types/did.pb.go
  x/did/types/keys.go
  x/did/types/tx.pb.go
Due: modules

feat: update method prefix following the ADR specs
  x/did/client/cli/tx.go
  x/did/keeper/handler_test.go
  x/did/types/did.go
  x/did/types/did_test.go
  x/did/types/keys.go
  x/issuer/ante/ante.go
Due: modules

test: improve test coverage
  proto/did/did.proto
  proto/did/query.proto
  x/did/keeper/did.go
  x/did/keeper/grpc_query.go
  x/did/keeper/msg_server.go
  x/did/types/did.go
  x/did/types/did_test.go
  x/did/types/query.pb.go
  x/did/types/tx.pb.go
Due: modules

fix: module deps declarations
  go.mod
Due: none

fix: add check for nil pointers
  x/did/types/did.go
  x/did/types/did_test.go
Due: modules

feat: add support for DID Metadata (#179)
  go.mod
  proto/did/did.proto
  proto/did/query.proto
  x/did/client/cli/cli_test.go
  x/did/client/cli/tx.go
  x/did/keeper/did.go
  x/did/keeper/grpc_query.go
  x/did/keeper/handler_test.go
  x/did/keeper/keeper_test.go
  x/did/keeper/msg_server.go
  x/did/types/did.go
  x/did/types/did.pb.go
  x/did/types/did_test.go
  x/did/types/keys.go
  x/did/types/query.pb.go
  x/issuer/ante/ante.go
Due: modules

feat: implement the REST endpoint to resolve did documents
  proto/did/did.proto
  x/did/module.go
  x/did/resolver/doc.go
  x/did/resolver/resolution.go
  x/did/resolver/resolver.go
  x/did/types/did.go
  x/did/types/did.pb.go
  x/issuer/types/tx.pb.go
Due: modules

feat: improve support for verification material
  go.mod
  go.sum
  proto/did/did.proto
  x/did/client/cli/tx.go
  x/did/docs/testing.md
  x/did/keeper/handler_test.go
  x/did/types/did.go
  x/did/types/did.pb.go
  x/did/types/did_test.go
  x/did/types/msg.go
  x/did/types/msg_test.go
  x/issuer/types/tx.pb.go
Due: modules

feat: add REST resolver enpoint and the ability to resolve accounts
  proto/did/did.proto
  x/did/keeper/grpc_query.go
  x/did/module.go
  x/did/resolver/doc.go
  x/did/resolver/resolution.go
  x/did/resolver/resolver.go
  x/did/types/did.pb.go
  x/did/types/keys.go
Due: modules

feat: verify bech32 addresses before resolving
  x/did/keeper/grpc_query.go
  x/did/keeper/grpc_query_test.go
  x/did/resolver/resolver.go
  x/did/types/did.go
  x/did/types/errors.go
Due: modules

fix: did metadata version id should match the tx hash
  x/did/keeper/msg_server.go
  x/did/types/did.go
Due: modules

feat: add cors support for the did resolution endpoint
  x/did/module.go
  x/did/resolver/resolution.go
Due: modules

fix: use same property names as in the specs
  proto/did/did.proto
  x/did/keeper/msg_server.go
  x/did/types/did.go
  x/did/types/did.pb.go
  x/did/types/did_test.go
  x/issuer/ante/ante.go
Due: modules

chore: improve compatibility with uniresolver frontend
  x/did/module.go
  x/did/resolver/resolution.go
  x/did/types/did.go
Due: modules

fix: apply suggestions from code review
  .gitignore
  Makefile
  TECHNICAL-SETUP.md
Due: none

docs: expand contributing documentation (#176)
  .gitignore
  CONTRIBUTING.md
  Makefile
  TECHNICAL-SETUP.md
Due: none

feat: add architecture diagrams
  docs/Reference/architecture/out/Architecture.svg
  docs/Reference/architecture/src/Architecture.puml
  docs/Reference/architecture/src/did-sequence-diagram.puml
Due: none

fix(verificationMethod): update resolution of blockchainAccountID to use pubKey
  scripts/seeds/01_identifier_seeds.sh
  x/did/client/cli/tx.go
  x/did/resolver/resolver.go
  x/did/types/did.go
Due: modules

fix: apply suggestions from code review
  x/did/keeper/grpc_query.go
Due: modules

Path conditions:
  app: any of: app/, but not: docs, *.md, *.rst, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, scripts/, contrib
