Repository allinbits/cosmos-cash: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

feat: update check for did controller to use function
  x/did/types/did.go
  x/did/types/did_test.go
Due: modules

Delete result.txt
  result.txt
Due: none

Update did.go
  x/did/types/did.go
Due: modules

feat(issuer): update msg validation to check issuer did id
  x/issuer/keeper/issuer.go
  x/issuer/types/msg.go
Due: modules

feat(issuer): issuer can pause their emoney token (#251)
  Makefile
  proto/issuer/issuer.proto
  proto/issuer/tx.proto
  scripts/seeds/03_issuer_seeds.sh
  scripts/seeds/04_user_seeds.sh
  x/did/keeper/did.go
  x/issuer/ante/ante.go
  x/issuer/client/cli/tx.go
  x/issuer/keeper/handler.go
  x/issuer/keeper/issuer.go
  x/issuer/keeper/keeper_test.go
  x/issuer/keeper/msg_server.go
  x/issuer/keeper/msg_server_test.go
  x/issuer/types/errors.go
  x/issuer/types/event.go
  x/issuer/types/issuer.pb.go
  x/issuer/types/msg.go
  x/issuer/types/tx.pb.go
Due: modules

feat(ante): adding ante handler tests
  x/issuer/ante/ante.go
  x/issuer/ante/ante_test.go
  x/issuer/types/errors.go
Due: modules

test(ante): adding ante handler tests (#254)
  x/issuer/ante/ante.go
  x/issuer/ante/ante_test.go
  x/issuer/types/errors.go
Due: modules

feat: validate controller did (#252)
  x/did/types/did.go
  x/did/types/did_test.go
Due: modules

feat: add regulator module
  app/app.go
  cmd/cosmos-cashd/cmd/genaccounts.go
  proto/regulator/genesis.proto
  proto/regulator/query.proto
  proto/regulator/tx.proto
  scripts/seeds/00_start_chain.sh
  x/regulator/client/cli/query.go
  x/regulator/client/cli/tx.go
  x/regulator/genesis.go
  x/regulator/handler.go
  x/regulator/keeper/grpc_query.go
  x/regulator/keeper/keeper.go
  x/regulator/keeper/keeper_test.go
  x/regulator/keeper/msg_server.go
  x/regulator/keeper/msg_server_test.go
  x/regulator/module.go
  x/regulator/types/codec.go
  x/regulator/types/errors.go
  x/regulator/types/expected_keepers.go
  x/regulator/types/genesis.go
  x/regulator/types/genesis.pb.go
  x/regulator/types/keys.go
  x/regulator/types/msg.go
  x/regulator/types/params.go
  x/regulator/types/query.pb.go
  x/regulator/types/tx.pb.go
  x/regulator/types/types.go
Due: app, modules

feat: add regulator credential to vc module
  proto/verifiable-credential/verifiable-credential.proto
  x/verifiable-credential/types/verifiable-credential.go
Due: modules

feat: add regulator activation command
  docs/Explanation/topics/001-regulators-activate.svg
  docs/Explanation/topics/001-regulators.md
  proto/regulator/tx.proto
  x/regulator/client/cli/tx.go
  x/regulator/handler.go
  x/regulator/keeper/keeper.go
  x/regulator/keeper/msg_server.go
  x/regulator/types/codec.go
  x/regulator/types/expected_keepers.go
  x/regulator/types/msg.go
  x/regulator/types/tx.pb.go
Due: modules

feat: add helpers to did impl
  x/did/types/did.go
Due: modules

feat: perform vc proof verification before commit
  app/app.go
  x/verifiable-credential/client/cli/tx.go
  x/verifiable-credential/keeper/keeper.go
  x/verifiable-credential/keeper/keeper_test.go
  x/verifiable-credential/keeper/verifiable-credential.go
  x/verifiable-credential/types/expected_keepers.go
  x/verifiable-credential/types/verifiable-credential.go
  x/verifiable-credential/types/verifiable-credential.pb.go
Due: app, modules

feat: handle possible error while signing credentials
  x/regulator/client/cli/tx.go
  x/verifiable-credential/client/cli/tx.go
  x/verifiable-credential/types/verifiable-credential.go
Due: modules

test: add keyring in keeper test suite
  x/did/types/did.go
  x/issuer/keeper/keeper_test.go
  x/issuer/keeper/msg_server_test.go
  x/regulator/client/cli/tx.go
  x/regulator/keeper/msg_server.go
  x/verifiable-credential/keeper/keeper_test.go
  x/verifiable-credential/keeper/msg_server.go
  x/verifiable-credential/keeper/verifiable-credential.go
Due: modules

feat: improve ergonomics for vc proof verification
  x/did/types/did.go
  x/issuer/ante/ante.go
  x/verifiable-credential/keeper/verifiable-credential.go
Due: modules

test: add test cases for regulator module
  x/regulator/keeper/keeper_test.go
  x/regulator/keeper/msg_server.go
  x/regulator/keeper/msg_server_test.go
  x/verifiable-credential/keeper/msg_server.go
  x/verifiable-credential/keeper/verifiable-credential.go
  x/verifiable-credential/types/verifiable-credential.go
Due: modules

chore: disable tests involving verifiable credentials
  x/issuer/ante/ante_test.go
  x/issuer/client/cli/tx.go
  x/issuer/keeper/msg_server_test.go
  x/regulator/keeper/msg_server_test.go
  x/verifiable-credential/keeper/grpc_query_test.go
  x/verifiable-credential/keeper/keeper_test.go
  x/verifiable-credential/keeper/msg_server_test.go
  x/verifiable-credential/keeper/verifiable-credential_test.go
Due: modules

chore: commit protobuf generated sources from latest version
  x/did/types/did.pb.go
  x/did/types/query.pb.go
  x/did/types/tx.pb.go
  x/issuer/types/issuer.pb.go
  x/issuer/types/query.pb.go
  x/issuer/types/tx.pb.go
  x/verifiable-credential/types/query.pb.go
  x/verifiable-credential/types/tx.pb.go
Due: none

chore: refactor verifiable credential module
  proto/verifiable-credential/tx.proto
  x/verifiable-credential/client/cli/cli_test.go
  x/verifiable-credential/client/cli/tx.go
  x/verifiable-credential/keeper/handler.go
  x/verifiable-credential/keeper/msg_server.go
  x/verifiable-credential/keeper/msg_server_test.go
  x/verifiable-credential/keeper/verifiable-credential.go
  x/verifiable-credential/types/codec.go
  x/verifiable-credential/types/hash.go
  x/verifiable-credential/types/msg.go
  x/verifiable-credential/types/tx.pb.go
Due: modules

chore: refactor regulator module
  proto/regulator/tx.proto
  x/regulator/client/cli/tx.go
  x/regulator/keeper/keeper.go
  x/regulator/keeper/msg_server.go
  x/regulator/keeper/msg_server_test.go
  x/regulator/types/codec.go
  x/regulator/types/expected_keepers.go
  x/regulator/types/msg.go
  x/regulator/types/tx.pb.go
Due: modules

chore: refactor issuer module
  proto/issuer/genesis.proto
  proto/issuer/tx.proto
  x/issuer/client/cli/tx.go
  x/issuer/keeper/msg_server.go
  x/issuer/module.go
  x/issuer/types/codec.go
  x/issuer/types/expected_keepers.go
  x/issuer/types/genesis.go
  x/issuer/types/genesis.pb.go
  x/issuer/types/msg.go
  x/issuer/types/tx.pb.go
Due: modules

chore: fix lint warnings
  x/regulator/types/msg.go
  x/verifiable-credential/keeper/msg_server.go
  x/verifiable-credential/keeper/verifiable-credential.go
Due: modules

feat: add support for registration credentials
  proto/verifiable-credential/verifiable-credential.proto
  x/regulator/client/cli/tx.go
  x/regulator/keeper/msg_server.go
  x/verifiable-credential/types/verifiable-credential.go
  x/verifiable-credential/types/verifiable-credential.pb.go
Due: modules

chore: review cli commands
  x/issuer/client/cli/tx.go
  x/regulator/client/cli/tx.go
  x/verifiable-credential/keeper/msg_server.go
Due: modules

chore: rename KYCCredential to UserCredential
  scripts/seeds/05_money_mule.sh
  scripts/seeds/06_kyc_credentials.sh
  x/did/client/cli/cli_test.go
  x/did/keeper/handler_test.go
  x/verifiable-credential/types/verifiable-credential.go
Due: modules

docs: add security and privacy considreations
  docs/Explanation/ADR/adr-004-did.md
Due: none

fix: Apply suggestions from code review
  docs/Explanation/ADR/adr-004-did.md
Due: none

fix: apply suggestions from code review
  docs/Explanation/ADR/adr-004-did.md
Due: none

chore: refactor did module with seeds
  scripts/seeds/00_start_chain.sh
  scripts/seeds/01_identifier_seeds.sh
  x/did/client/cli/cli_test.go
  x/did/client/cli/tx.go
  x/did/keeper/did.go
  x/did/keeper/grpc_query.go
  x/did/keeper/msg_server.go
  x/did/types/did.go
  x/did/types/did.pb.go
Due: modules

Path conditions:
  app: any of: app/, but not: docs, *.md, *.rst, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, scripts/, contrib
