Repository allinbits/cosmos-cash: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

feat: improve support for verification material (#184)
  go.mod
  go.sum
  proto/did/did.proto
  x/did/client/cli/tx.go
  x/did/docs/testing.md
  x/did/keeper/grpc_query.go
  x/did/keeper/grpc_query_test.go
  x/did/keeper/handler_test.go
  x/did/keeper/msg_server.go
  x/did/module.go
  x/did/resolver/doc.go
  x/did/resolver/resolution.go
  x/did/resolver/resolver.go
  x/did/types/did.go
  x/did/types/did.pb.go
  x/did/types/did_test.go
  x/did/types/errors.go
  x/did/types/keys.go
  x/did/types/msg.go
  x/did/types/msg_test.go
  x/issuer/ante/ante.go
  x/issuer/types/tx.pb.go
Due: modules

update changelog for v1.0.0
  CHANGELOG.md
  Makefile
Due: none

Release v1.0.0 (#197)
  CHANGELOG.md
  Makefile
Due: none

fix: README introductions based on feedback
  docs/Explanation/README.md
  docs/Reference/README.md
Due: none

fix: Apply suggestions from code review
  docs/Explanation/README.md
Due: none

feat(docs): READMEs for docs, Explanation and Reference Documentation (#148) (#168)
  docs/Explanation/README.md
  docs/Explanation/articles/README.md
  docs/Explanation/presentations.md
  docs/README.md
  docs/Reference/README.md
Due: none

chore: add .DS_Store to .gitignore
  .gitignore
Due: none

feat: separate license and registration cred ADRs
  docs/Explanation/ADR/adr-005-registration-credential.md
  docs/Explanation/ADR/adr-006-license-credential.md
  docs/Reference/GLOSSARY.md
  docs/Reference/architecture/out/LicenseCredential.svg
  docs/Reference/architecture/out/RegistrationCredential.svg
  docs/Reference/architecture/src/LicenseCredential.puml
  docs/Reference/architecture/src/RegistrationCredential.puml
Due: none

chore: VASP defn citation
  docs/Reference/GLOSSARY.md
Due: none

feat(proto): adding license credential proto files
  proto/verifiable-credential/query.proto
  proto/verifiable-credential/tx.proto
  proto/verifiable-credential/verifiable-credential.proto
  scripts/seeds/01_identifier_seeds.sh
Due: none

feat(proto): adding registration credential proto files
  proto/verifiable-credential/verifiable-credential.proto
Due: none

Apply ADR edits based on review
  docs/Explanation/ADR/adr-003-issuer.md
  docs/Explanation/ADR/adr-006-license-credential.md
  docs/Reference/architecture/CONTRIBUTING.md
  docs/Reference/architecture/README.md
Due: none

Apply ADR edits based on review
  docs/Explanation/ADR/adr-003-issuer.md
Due: none

Apply suggestions from code review
  docs/Explanation/ADR/adr-004-did.md
Due: none

docs: first draft for the DID ADR
  docs/Explanation/ADR/adr-004-did.md
Due: none

chore: address review comments
  docs/Explanation/ADR/adr-004-did.md
Due: none

docs(adr): make the DID ARD ready for review
  docs/Explanation/ADR/adr-004-did.md
Due: none

docs: address review comments
  docs/Explanation/ADR/adr-004-did.md
Due: none

remove heading links and move links to para, apply suggestions from code review
  docs/Explanation/ADR/adr-004-did.md
Due: none

fix: apply suggestions from code review
  docs/Explanation/ADR/adr-004-did.md
Due: none

docs: improve main readme
  README.md
  docs/Reference/MODULES.md
Due: none

docs: udpate the did module reference
  proto/did/tx.proto
  x/did/README.md
  x/did/docs/02_state.md
  x/did/docs/03_state_transitions.md
  x/did/docs/04_messages.md
  x/did/docs/assets/DIDMetadata.puml
  x/did/docs/assets/DIDMetadata.svg
  x/did/docs/assets/QueryDidDocumentResponse_Cosmos.puml
  x/did/docs/assets/QueryDidDocumentResponse_Cosmos.svg
  x/did/docs/assets/QueryDidDocumentResponse_Key.puml
  x/did/docs/assets/QueryDidDocumentResponse_Key.svg
Due: modules

fix: apply suggestions from code review
  README.md
Due: none

docs: link documentation in the root README (#203)
  README.md
  docs/Reference/MODULES.md
Due: none

docs: update the ADR for did
  docs/Explanation/ADR/adr-004-did.md
Due: none

docs: ADR for the DID module (#175)
  docs/Explanation/ADR/adr-004-did.md
  proto/did/tx.proto
  x/did/README.md
  x/did/docs/02_state.md
  x/did/docs/03_state_transitions.md
  x/did/docs/04_messages.md
  x/did/docs/assets/DIDMetadata.puml
  x/did/docs/assets/DIDMetadata.svg
  x/did/docs/assets/QueryDidDocumentResponse_Cosmos.puml
  x/did/docs/assets/QueryDidDocumentResponse_Cosmos.svg
  x/did/docs/assets/QueryDidDocumentResponse_Key.puml
  x/did/docs/assets/QueryDidDocumentResponse_Key.svg
Due: modules

feat: toward v0.43.0
  app/ante.go
  app/params/encoding.go
  x/did/client/cli/tx.go
  x/did/keeper/did.go
  x/did/module.go
  x/issuer/ante/ante.go
  x/issuer/keeper/issuer.go
  x/issuer/keeper/keeper.go
  x/issuer/module.go
  x/verifiable-credential/keeper/grpc_query.go
  x/verifiable-credential/keeper/keeper.go
  x/verifiable-credential/keeper/verifiable-credential.go
  x/verifiable-credential/module.go
Due: app, modules

feat: toward v0.43.0
  app/app.go
  go.mod
  go.sum
  x/did/keeper/keeper.go
Due: app, modules

feat(upgrade): upgrade to 0.43 compiling and starting
  app/ante.go
  app/app.go
  cmd/cosmos-cashd/cmd/genaccounts.go
  cmd/cosmos-cashd/cmd/root.go
  cmd/cosmos-cashd/main.go
Due: app

feat(upgrade): upgrade to 0.43 final updates and tests
  app/ante.go
  app/app.go
  cmd/cosmos-cashd/cmd/root.go
  scripts/seeds/01_identifier_seeds.sh
  x/did/client/cli/cli_test.go
  x/issuer/ante/ante.go
  x/issuer/client/cli/cli_test.go
  x/verifiable-credential/client/cli/cli_test.go
Due: app, modules

fix: linting errors with upgrade
  cmd/cosmos-cashd/cmd/genaccounts.go
  cmd/cosmos-cashd/cmd/root.go
  cmd/cosmos-cashd/main.go
  x/issuer/ante/ante.go
Due: modules

Feat/gh178 cosmossdk043 (#195)
  app/ante.go
  app/app.go
  app/params/encoding.go
  cmd/cosmos-cashd/cmd/genaccounts.go
  cmd/cosmos-cashd/cmd/root.go
  cmd/cosmos-cashd/main.go
  go.mod
  go.sum
  scripts/seeds/01_identifier_seeds.sh
  x/did/client/cli/cli_test.go
  x/did/client/cli/tx.go
  x/did/keeper/did.go
  x/did/keeper/keeper.go
  x/did/module.go
  x/issuer/ante/ante.go
  x/issuer/client/cli/cli_test.go
  x/issuer/keeper/issuer.go
  x/issuer/keeper/keeper.go
  x/issuer/module.go
  x/verifiable-credential/client/cli/cli_test.go
  x/verifiable-credential/keeper/grpc_query.go
  x/verifiable-credential/keeper/keeper.go
  x/verifiable-credential/keeper/verifiable-credential.go
  x/verifiable-credential/module.go
Due: app, modules

docs: add links to how-to readme page
  docs/How-To/README.md
Due: none

feat: Add USDT-USDC contract analysis topic
  docs/Explanation/ADR/adr-003-issuer.md
  docs/Explanation/topics/Compare USDC vs USDT vs CASH-ISSUER.md
Due: none

feat(docs): ADR changes based on dev feedback.
  docs/Explanation/ADR/adr-005-registration-credential.md
  docs/Explanation/ADR/adr-006-license-credential.md
  docs/Reference/architecture/out/LicenseCredential.svg
  docs/Reference/architecture/out/RegistrationCredential.svg
  docs/Reference/architecture/src/LicenseCredential.puml
  docs/Reference/architecture/src/RegistrationCredential.puml
Due: none

feat(proto): adding license credential proto files
  proto/verifiable-credential/query.proto
  proto/verifiable-credential/tx.proto
  proto/verifiable-credential/verifiable-credential.proto
Due: none

feat(creds): add license credential to verifiable credential module
  Makefile
  proto/verifiable-credential/verifiable-credential.proto
  scripts/seeds/02_verifiable_credentials_seeds.sh
  x/did/types/did.pb.go
  x/verifiable-credential/client/cli/cli_test.go
  x/verifiable-credential/client/cli/tx.go
  x/verifiable-credential/keeper/grpc_query_test.go
  x/verifiable-credential/keeper/keeper_test.go
  x/verifiable-credential/keeper/msg_server.go
  x/verifiable-credential/keeper/msg_server_test.go
  x/verifiable-credential/keeper/verifiable-credential_test.go
  x/verifiable-credential/types/query.pb.go
  x/verifiable-credential/types/tx.pb.go
  x/verifiable-credential/types/verifiable-credential.go
  x/verifiable-credential/types/verifiable-credential.pb.go
Due: modules

feat: add license credential to verifiable credential module (#200)
  Makefile
  proto/verifiable-credential/query.proto
  proto/verifiable-credential/tx.proto
  proto/verifiable-credential/verifiable-credential.proto
  scripts/seeds/02_verifiable_credentials_seeds.sh
  x/did/types/did.pb.go
  x/verifiable-credential/client/cli/cli_test.go
  x/verifiable-credential/client/cli/tx.go
  x/verifiable-credential/keeper/grpc_query_test.go
  x/verifiable-credential/keeper/keeper_test.go
  x/verifiable-credential/keeper/msg_server.go
  x/verifiable-credential/keeper/msg_server_test.go
  x/verifiable-credential/keeper/verifiable-credential_test.go
  x/verifiable-credential/types/query.pb.go
  x/verifiable-credential/types/tx.pb.go
  x/verifiable-credential/types/verifiable-credential.go
  x/verifiable-credential/types/verifiable-credential.pb.go
Due: modules

docs: add links to how-to readme page (#217)
  docs/How-To/README.md
Due: none

Path conditions:
  app: any of: app/, but not: docs, *.md, *.rst, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, scripts/, contrib
