Repository allinbits/cosmos-cash: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 80...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 80%
        flags:
          - app
      modules:
        target: 80%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/" # ignore client package

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "types/*.pb.go"
  - "tests/*"
  - "tests/**/*"
  - "x/**/*.pb.go"
  - "scripts/"
  - "contrib"

feat(docs): Second update based on dev feedback
  docs/Explanation/ADR/adr-005-registration-credential.md
  docs/Explanation/ADR/adr-006-license-credential.md
  docs/Reference/architecture/out/LicenseCredential.svg
  docs/Reference/architecture/out/RegistrationCredential.svg
  docs/Reference/architecture/src/LicenseCredential.puml
  docs/Reference/architecture/src/RegistrationCredential.puml
Due: none

feat: ADR License and registration credential design (#177)
  .gitignore
  docs/Explanation/ADR/adr-003-issuer.md
  docs/Explanation/ADR/adr-005-registration-credential.md
  docs/Explanation/ADR/adr-006-license-credential.md
  docs/Explanation/topics/Compare USDC vs USDT vs CASH-ISSUER.md
  docs/Reference/GLOSSARY.md
  docs/Reference/architecture/CONTRIBUTING.md
  docs/Reference/architecture/README.md
  docs/Reference/architecture/makefile
  docs/Reference/architecture/out/Architecture.svg
  docs/Reference/architecture/out/LicenseCredential.svg
  docs/Reference/architecture/out/RegistrationCredential.svg
  docs/Reference/architecture/src/Architecture.puml
  docs/Reference/architecture/src/LicenseCredential.puml
  docs/Reference/architecture/src/RegistrationCredential.puml
  docs/Reference/architecture/src/did-sequence-diagram.puml
  docs/Reference/architecture/themes/puml-theme-tendermint.puml
Due: none

feat: support cosmos-sdk-v0.43 key format
  x/did/client/cli/tx.go
  x/did/keeper/handler_test.go
  x/did/resolver/resolver.go
  x/did/types/did.go
  x/did/types/did_test.go
  x/did/types/errors.go
  x/did/types/msg_test.go
  x/issuer/ante/ante.go
Due: modules

feat: support cosmos-sdk-v0.43 key format (#220)
  x/did/client/cli/tx.go
  x/did/keeper/handler_test.go
  x/did/resolver/resolver.go
  x/did/types/did.go
  x/did/types/did_test.go
  x/did/types/errors.go
  x/did/types/msg_test.go
  x/issuer/ante/ante.go
Due: modules

fix: corrupted did after setting verification relationships
  scripts/seeds/01_identifier_seeds.sh
  x/did/keeper/handler_test.go
  x/did/types/did.go
  x/did/types/msg_validation.go
Due: modules

chore: use EcdsaSecp256k1VerificationKey2019 as vm type
  docs/Explanation/ADR/adr-004-did.md
  x/did/client/cli/tx.go
  x/did/docs/03_state_transitions.md
  x/did/docs/assets/QueryDidDocumentResponse_Cosmos.puml
  x/did/docs/assets/QueryDidDocumentResponse_Cosmos.svg
  x/did/keeper/handler_test.go
  x/did/types/did.go
  x/did/types/did_test.go
  x/did/types/msg_test.go
  x/issuer/ante/ante.go
Due: modules

add out folder to gitignore
  .gitignore
Due: none

fix: make set relationships command safe
  x/did/client/cli/cli_test.go
  x/did/client/cli/tx.go
  x/did/docs/03_state_transitions.md
  x/did/keeper/handler_test.go
Due: modules

Apply suggestions from code review
  x/did/keeper/handler_test.go
  x/did/types/msg_validation.go
Due: modules

Msg: Simon-Test
  docs/README.md
Due: none

feat(creds): adding functionality to delete verifiable credentials from store
  proto/verifiable-credential/tx.proto
  scripts/seeds/01_identifier_seeds.sh
  scripts/seeds/02_verifiable_credentials_seeds.sh
  x/verifiable-credential/client/cli/tx.go
  x/verifiable-credential/keeper/handler.go
  x/verifiable-credential/keeper/keeper.go
  x/verifiable-credential/keeper/msg_server.go
  x/verifiable-credential/keeper/verifiable-credential.go
  x/verifiable-credential/types/codec.go
  x/verifiable-credential/types/event.go
  x/verifiable-credential/types/msg.go
  x/verifiable-credential/types/tx.pb.go
Due: modules

fix: ensure safe and consistent updates for verification relationships (#219)
  scripts/seeds/01_identifier_seeds.sh
  x/did/client/cli/cli_test.go
  x/did/client/cli/tx.go
  x/did/docs/03_state_transitions.md
  x/did/keeper/handler_test.go
  x/did/types/did.go
  x/did/types/msg_validation.go
Due: modules

chore: use EcdsaSecp256k1VerificationKey2019 as vm type (#221)
  docs/Explanation/ADR/adr-004-did.md
  x/did/client/cli/tx.go
  x/did/docs/03_state_transitions.md
  x/did/docs/assets/QueryDidDocumentResponse_Cosmos.puml
  x/did/docs/assets/QueryDidDocumentResponse_Cosmos.svg
  x/did/keeper/handler_test.go
  x/did/types/did.go
  x/did/types/did_test.go
  x/did/types/msg_test.go
  x/issuer/ante/ante.go
Due: modules

test: fix compiler error
  x/did/keeper/handler_test.go
Due: modules

test: fix compiler error (#226)
  x/did/keeper/handler_test.go
Due: modules

fix: BlockchainAccountID is standard compliant
  x/did/keeper/msg_server.go
  x/did/types/did.go
  x/did/types/did_test.go
Due: modules

feat(creds): remove ante handler in favour of passing did keeper to vc keeper
  app/ante.go
  app/app.go
  x/did/types/keys.go
  x/verifiable-credential/ante/ante.go
  x/verifiable-credential/keeper/keeper.go
  x/verifiable-credential/keeper/keeper_test.go
  x/verifiable-credential/keeper/msg_server.go
  x/verifiable-credential/keeper/msg_server_test.go
  x/verifiable-credential/types/expeected_keepers.go
Due: app, modules

feat(creds): remove ante handler in favour of passing did keeper to vc keeper
  app/ante.go
  app/app.go
  x/did/types/keys.go
  x/verifiable-credential/ante/ante.go
  x/verifiable-credential/keeper/keeper.go
  x/verifiable-credential/keeper/keeper_test.go
  x/verifiable-credential/keeper/msg_server.go
  x/verifiable-credential/keeper/msg_server_test.go
  x/verifiable-credential/types/expected_keepers.go
  x/verifiable-credential/types/msg.go
Due: app, modules

feat(creds): adding functionality to delete verifiable credentials fr… (#224)
  app/app.go
  proto/verifiable-credential/tx.proto
  scripts/seeds/01_identifier_seeds.sh
  scripts/seeds/02_verifiable_credentials_seeds.sh
  x/did/types/keys.go
  x/verifiable-credential/client/cli/tx.go
  x/verifiable-credential/keeper/handler.go
  x/verifiable-credential/keeper/keeper.go
  x/verifiable-credential/keeper/keeper_test.go
  x/verifiable-credential/keeper/msg_server.go
  x/verifiable-credential/keeper/msg_server_test.go
  x/verifiable-credential/keeper/verifiable-credential.go
  x/verifiable-credential/types/codec.go
  x/verifiable-credential/types/errors.go
  x/verifiable-credential/types/event.go
  x/verifiable-credential/types/expected_keepers.go
  x/verifiable-credential/types/msg.go
  x/verifiable-credential/types/tx.pb.go
Due: app, modules

feat: remove rest resolver from the node
  x/did/keeper/grpc_query.go
  x/did/module.go
  x/did/resolver/doc.go
  x/did/resolver/resolution.go
  x/did/resolver/resolver.go
  x/did/types/did.go
Due: modules

feat: add support for multibase encoded keys
  x/did/client/cli/tx.go
  x/did/keeper/handler_test.go
  x/did/types/did.go
  x/did/types/did_test.go
Due: modules

feat: introduce DID golang type
  proto/did/did.proto
  x/did/client/cli/tx.go
  x/did/keeper/handler_test.go
  x/did/types/did.go
  x/did/types/did.pb.go
  x/did/types/did_test.go
Due: modules

feat: change did chain method to did:cosmos:net:...
  x/did/types/did.go
  x/did/types/did_test.go
  x/did/types/keys.go
Due: modules

feat(creds): restructure vc module to make refactoring easier
  proto/verifiable-credential/query.proto
  scripts/seeds/02_verifiable_credentials_seeds.sh
  x/issuer/ante/ante.go
  x/verifiable-credential/client/cli/cli_test.go
  x/verifiable-credential/client/cli/query.go
  x/verifiable-credential/client/cli/tx.go
  x/verifiable-credential/keeper/grpc_query.go
  x/verifiable-credential/keeper/grpc_query_test.go
  x/verifiable-credential/types/query.pb.go
  x/verifiable-credential/types/query.pb.gw.go
  x/verifiable-credential/types/verifiable-credential.go
Due: modules

feat(create-issuer): remove ante handler in favor of using injected did & vc keepers
  Makefile
  app/ante.go
  app/app.go
  proto/issuer/issuer.proto
  proto/issuer/tx.proto
  scripts/seeds/01_identifier_seeds.sh
  scripts/seeds/03_issuer_seeds.sh
  x/issuer/ante/ante.go
  x/issuer/client/cli/tx.go
  x/issuer/keeper/issuer.go
  x/issuer/keeper/keeper.go
  x/issuer/keeper/keeper_test.go
  x/issuer/keeper/msg_server.go
  x/issuer/keeper/msg_server_test.go
  x/issuer/types/event.go
  x/issuer/types/expected_keepers.go
  x/issuer/types/issuer.pb.go
  x/issuer/types/msg.go
  x/issuer/types/tx.pb.go
  x/verifiable-credential/keeper/msg_server.go
  x/verifiable-credential/keeper/msg_server_test.go
  x/verifiable-credential/types/keys.go
  x/verifiable-credential/types/verifiable-credential.go
Due: app, modules

fix godoc
  x/issuer/types/expected_keepers.go
Due: modules

feat(creds): restructure vc module to make refactoring easier (#235)
  Makefile
  app/ante.go
  app/app.go
  proto/issuer/issuer.proto
  proto/issuer/tx.proto
  proto/verifiable-credential/query.proto
  scripts/seeds/01_identifier_seeds.sh
  scripts/seeds/02_verifiable_credentials_seeds.sh
  scripts/seeds/03_issuer_seeds.sh
  x/issuer/ante/ante.go
  x/issuer/client/cli/tx.go
  x/issuer/keeper/issuer.go
  x/issuer/keeper/keeper.go
  x/issuer/keeper/keeper_test.go
  x/issuer/keeper/msg_server.go
  x/issuer/keeper/msg_server_test.go
  x/issuer/types/event.go
  x/issuer/types/expected_keepers.go
  x/issuer/types/issuer.pb.go
  x/issuer/types/msg.go
  x/issuer/types/tx.pb.go
  x/verifiable-credential/client/cli/cli_test.go
  x/verifiable-credential/client/cli/query.go
  x/verifiable-credential/client/cli/tx.go
  x/verifiable-credential/keeper/grpc_query.go
  x/verifiable-credential/keeper/grpc_query_test.go
  x/verifiable-credential/keeper/msg_server.go
  x/verifiable-credential/keeper/msg_server_test.go
  x/verifiable-credential/types/keys.go
  x/verifiable-credential/types/query.pb.go
  x/verifiable-credential/types/query.pb.gw.go
  x/verifiable-credential/types/verifiable-credential.go
Due: app, modules
