Repository allinbits/cosmos-cash: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

test: add testing for addControllers msg_server
  .golangci.yaml
  x/did/keeper/msg_server.go
  x/did/keeper/msg_server_test.go
  x/did/types/did.go
  x/did/types/did_test.go
Due: modules

fix: upgrade errors when setting module orders at runtime
  app/app.go
Due: app

chore: update to cosmos-sdk v0.45.0 (#331)
  app/app.go
  go.mod
  go.sum
Due: app

feat(simulations): adding simulation test framework
  Makefile
  app/app.go
  app/simulation_test.go
  x/did/simulation/did.go
Due: app, modules

feat: implement add/remove controller and full update of a did doc (#328)
  .golangci.yaml
  app/app.go
  go.mod
  go.sum
  proto/did/event.proto
  proto/did/tx.proto
  scripts/seeds/01_identifier_seeds.sh
  x/did/client/cli/aries.go
  x/did/client/cli/cli_test.go
  x/did/client/cli/tx.go
  x/did/keeper/did.go
  x/did/keeper/msg_server.go
  x/did/keeper/msg_server_test.go
  x/did/types/did.go
  x/did/types/did_test.go
  x/did/types/event.go
  x/did/types/event.pb.go
  x/did/types/msg.go
  x/did/types/msg_test.go
  x/did/types/msg_validation.go
  x/did/types/tx.pb.go
  x/issuer/client/cli/cli_test.go
  x/verifiable-credential/client/cli/cli_test.go
Due: app, modules

test: add msg server test for delete controller
  x/did/keeper/msg_server_test.go
Due: modules

chore: small fixes all together
  .github/workflows/ci.yaml
  x/did/keeper/did.go
  x/did/spec/testing.md
  x/did/types/codec.go
Due: modules

test: add tests for events
  x/did/types/event_test.go
Due: modules

test: increase test coverage for types did
  x/did/types/did.go
  x/did/types/did_test.go
Due: modules

chore: update codecov settings
  .codecov.yml
  .github/workflows/ci.yaml
  Makefile
Due: none

test: improve coverage for message validation
  x/did/types/msg_validation.go
  x/did/types/msg_validation_test.go
Due: modules

test: add tests for did add/delete controllers
  x/did/keeper/msg_server.go
  x/did/types/did.go
  x/did/types/did_test.go
Due: modules

test: improve tests for did types
  x/did/types/did.go
  x/did/types/did_test.go
  x/did/types/did_verification_material.go
Due: modules

test: more testing for did/types
  x/did/types/did.go
  x/did/types/did_test.go
  x/did/types/msg.go
  x/did/types/msg_test.go
Due: modules

test: increase test coverage (#334)
  .codecov.yml
  .github/workflows/ci.yaml
  Makefile
  x/did/keeper/did.go
  x/did/keeper/msg_server.go
  x/did/keeper/msg_server_test.go
  x/did/spec/testing.md
  x/did/types/codec.go
  x/did/types/did.go
  x/did/types/did_test.go
  x/did/types/did_verification_material.go
  x/did/types/event_test.go
  x/did/types/msg.go
  x/did/types/msg_test.go
  x/did/types/msg_validation.go
  x/did/types/msg_validation_test.go
Due: modules

chore: simplify the release command
  Makefile
Due: none

chore: update changelog for v3.0.0
  CHANGELOG.md
  Makefile
Due: none

updates and new terms for glossary
  docs/Reference/GLOSSARY.md
Due: none

Path conditions:
  app: any of: app/, but not: docs, *.md, *.rst, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, scripts/, contrib
